.nav-pages-share {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  height: 40px;
  width: 90%;

  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  border-bottom: 2px solid #608c4c;
  transition: all 0.15s ease;
}

.search-bar:focus {
  background-color: rgba(0, 0, 0, 0.09);
  border-bottom: 2px solid #608c4c;
  transition: all 0.15s ease;
  transform-origin: left;
  outline: none;
}

.search-bar:hover {
  background-color: rgba(0, 0, 0, 0.09);
  transition: all 0.5s ease;
}
