# IDE
.DS_Store
.idea
*.idea

.vs
.vscode
__pycache__

# Development folders
build
dist
Backend/node_modules
Frontend/node_modules

# misc
*.pyc
*.egg-info/
*node_modules
*package-lock.json
*react-app-env.d.ts


.eslintcache
*.eslintcache
