.ListContainer {
  display: grid;
  grid-template-columns: 300px 200px 60px 60px;
  grid-template-rows: 1fr;
  gap: 0px 0px 0px;
  grid-template-areas: "content gap add remove";
  /* width: 1500px;
  height: 500px; */
  padding-top: 10px;
}

.content {
  grid-area: content;
  display: flex;
}

.gap {
  grid-area: gap;
  display: flex;
}
.add {
  grid-area: add;
  display: flex;
  background-color: white;
  outline: none;
  border: white;
}
.remove {
  grid-area: remove;
  display: flex;
  background-color: white;
  outline: none;
  border: white;
}
