.list-item {
  display: inline-flexbox;
}

.lists-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}

.close {
  margin-right: 10px;
}

.content-container {
  display: flex;
  background-color: transparent;
}

.content-container span {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-container {
  display: flex;
}

.delete-container {
  display: flex;
}

.list-modal-window {
  width: 100%;
}

.search-bar-modal {
  background-color: transparent;
  height: 20px;
  width: 100%;

  font-family: "Times New Roman", Times, serif;
  font-size: 15px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  border-bottom: 2px solid #608c4c;
  transition: all 0.15s ease;
}

.search-bar-modal:focus {
  background-color: rgba(0, 0, 0, 0.09);
  border-bottom: 2px solid #608c4c;
  transition: all 0.15s ease;
  transform-origin: left;
  outline: none;
}

.search-bar-modal:hover {
  background-color: rgba(0, 0, 0, 0.09);
  transition: all 0.5s ease;
}
