/*
Sidebar styling
*/

.sidebar-container {
  grid-area: sidebar-container;
  background-color: #f2f2f2;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas: "side-search-bar" ".";
}

.sidebar-top-div {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  /* bottom: 30px; 30px from the bottom */
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.side-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: side-search-bar;
}

.add-button {
  height: 40px;
  width: 60px;
  font-weight: bold;
}

.search-bar {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  background-color: transparent;
  height: 40px;
  width: 300px;
  font-size: 27px;
  
  border: 0;
  border-bottom: 2px solid #608c4c;
  transition: all 0.15s ease;
}

.search-bar:focus {
  background-color: rgba(0, 0, 0, 0.09);
  border-bottom: 2px solid green;
  transition: all 0.15s ease;
  transform-origin: left;
  outline: none;
}

.search-bar:hover {
  background-color: rgba(0, 0, 0, 0.09);
  transition: all 0.5s ease;
}

/* list items */
nav ul {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}