.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  grid-template-columns: 1fr;
  grid-template-rows: 47px 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "topbar-container"
    "content-container";
}

/*
Middle styling
*/

.content-container {
  grid-area: content-container;
  display: flex;
  background-color: #ffffff;
}

.graph-container {
  grid-area: graph-container;
  background-color: #ffffff;
  border-left: #ededed solid 1px;
}

#login-modal > .MuiDialog-container > .MuiPaper-root {
  position: absolute;
  right: 0;
  top: 20px;
}

#login-modal > .MuiBackdrop-root {
  display: none;
}

#input-with-icon-textfield > .MuiFormControl-root > .MuiInputBase-root {
  height: 100%;
}

#input-with-icon-textfield > .MuiFormControl-root > {
  height: 50%;
}

#input-with-icon-textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#input-with-icon-textfield > .MuiFormControl-root > .MuiInputBase-root > input {
  padding: 0;
}
