.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "topbar-container"
    "content-container";
}

/*
Top bar styling
*/
.topbar-container {
  grid-area: topbar-container;
  display: grid;
  background-color: #dee0e0;
  grid-template-columns: 3% 10% 10% 10% 45% 5% 5% 5% 5%;
  grid-template-rows: 1fr;
  grid-template-areas: "top-logo Blank Blank Save Title Share Maple Log-in Sign-out";
}

.top-logo {
  grid-area: top-logo;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Blank {
  grid-area: Blank;
}

.Title {
  grid-area: Title;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "SillyHandScript-Regular";
  font-size: 30px;
  color: #608c4c;
  letter-spacing: 1px;
}

.Sign-out {
  grid-area: Sign-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
Middle styling
*/

.content-container {
  display: grid;
  grid-template-columns: 25% 35% 40%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sidebar-container list-container graph-container";
  grid-area: content-container;
  background-color: #ffffff;
}

.graph-container {
  grid-area: graph-container;
  background-color: #ffffff;
  border-left: #ededed solid 1px;
}

#login-modal > .MuiDialog-container > .MuiPaper-root {
  position: absolute;
  right: 0;
  top: 20px;
}

#login-modal > .MuiBackdrop-root {
  display: none;
}

#input-with-icon-textfield > .MuiFormControl-root > .MuiInputBase-root {
  height: 100%;
}

#input-with-icon-textfield > .MuiFormControl-root > {
  height: 50%;
}

#input-with-icon-textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#input-with-icon-textfield > .MuiFormControl-root > .MuiInputBase-root > input {
  padding: 0;
}
