.top-bar-column-3-maple {
  grid-area: top-bar-column-3-maple;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .top-bar-column-3-maple {
    display: none;
  }
}
