.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  height: 450px;
  width: 375px;
  /* padding: 4em 2em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.modal-window h1 {
  color: white;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.modal-window h2 {
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.input-box input {
  width: 80%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  outline: none;
  background: transparent;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
}

.remember-box {
  position: relative;
  display: flex;
  right: 92px;
  margin-bottom: 20px;
}

.remember-box-checkbox {
  margin-right: 6px;
}

.remember-box-text {
  color: white;
}

.add button {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  height: 50px;
  width: 100px;
  font-weight: 500px;
  font-size: 15px;
}
