.topbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #dee0e0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.262);
}

.branch-it-logo {
  color: black;
  margin-left: 20px;
  font-size: 30px;
}

.save-button {
  margin-left: 70px;
  border-radius: 15px;
}

.title {
  margin-left: 450px;
  margin-right: auto;
  font-family: "SillyHandScript-Regular";
  font-size: 30px;
  color: #608c4c;
  letter-spacing: 1px;
  font-weight: 500;
}

.share-button {
  margin-left: 20px;
  margin-left: auto;
  border-radius: 15px;
}

@media (max-width: 1100px) {
  .share-button {
    display: none;
  }
}

.maple-button {
  margin-left: 20px;

  background-color: #2196f3;
  border-radius: 15px;
}
@media (max-width: 1100px) {
  .maple-button {
    display: none;
  }
}

.login-button {
  margin-right: 50px;
  margin-left: 20px;
  border-radius: 15px;
}
@media (max-width: 1100px) {
  .login-button {
    display: none;
  }
}

.compact-button {
  margin-right: 100px;
}

@media (min-width: 1100px) {
  .compact-button {
    display: none;
  }
}
