.nav-menu-share {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  box-shadow: none;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

.nav-menu-share-icon {
  /* color: rgb(77, 110, 102); */
  color: white;
  height: 35px;
  width: 50px;
}
