html,
body {
  margin: 0;
  padding: 0;
}

.listChild {
  display: flex;
  justify-content: space-between;
}

#listParent {
  display: flex;
  flex-direction: column;
}

#submitBtn {
  display: none;
}

/* #root {
  margin: 20px 0 0 20px;
} */
