.dot-point-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid #608c4c30;
  border-radius: 3px;
  margin-right: 20px;
}
.dot-point-dot {
  font-size: 18px;
  padding-left: 10px;
}
.dot-point-title {
  font-size: 15px;
  font-weight: 550;
  padding-left: 2px;
}
.dot-point-more {
  margin-left: auto;
  margin-right: 10px;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: #608c4c;
  }
}

/*

Modal 


*/

.item-modal-container {
  position: absolute;
  width: 500px;
  height: 600px;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -300px;
  background-color: #bad0b3;
  border-radius: 10px;
  border: 2px solid #81b668c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 30;
}

.modal-item-close {
  margin-left: auto;

  margin-right: 30px;
  padding-top: 15px;
  font-size: 30px;
  font-weight: 550;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}
.item-modal-title {
  font-size: 30px;
  font-weight: 550;
}

.item-modal-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 80%;
}

.item-modal-content-title {
  margin-right: 20%;
  margin-top: 30px;
  font-weight: 500;
}
.item-modal-description {
  margin-top: 4px;
  width: 100%;
  height: 50px;
  border: solid 1px rgb(108, 108, 108);
  border-radius: 10px;
}
.item-modal-add-child {
  margin-top: 10px;
  width: 100%;

  form {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
  }

  input {
    outline: none;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.673);
    border: solid 1px rgb(108, 108, 108);
    font-weight: 550;
    width: 25%;
  }

  button {
    position: absolute;
    left: 35%;
    width: 23px;
    height: 23px;

    border-radius: 10px;
    border: 1px solid #5a834774;
    background-color: #81b668b9;
    color: white;
    outline: none;
    cursor: pointer;
  }
}

.item-modal-remove-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  width: 100%;

  button {
    position: absolute;
    left: 35%;
    width: 23px;
    height: 23px;

    border-radius: 10px;
    border: 1px solid #5a834774;
    background-color: #81b668b9;
    color: white;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
  }
}

.item-modal-checkbox {
  font-weight: 500;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    position: absolute;
    left: 34.5%;
    width: 20px;
    height: 20px;

    border-radius: 100%;
    background-color: green;
  }
}

.hello {
  background-color: #ffffff;
}
