.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "topbar-container"
    "content-container";
}

/*
Top bar styling
*/
.topbar-container {
  grid-area: topbar-container;
  display: grid;
  background-color: #dee0e0;
  grid-template-columns: 3% 10% 10% 10% 40% 10% 5% 10%;
  grid-template-rows: 1fr;
  grid-template-areas: "top-logo placeholder Blank Save Title Share Maple Log-in";
}

.top-logo {
  grid-area: top-logo;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Blank {
  grid-area: Blank;
}
.Save {
  grid-area: Save;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title {
  grid-area: Title;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "SillyHandScript-Regular";
  font-size: 30px;
  color: #608c4c;
  letter-spacing: 1px;
}
.Share {
  grid-area: Share;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Maple {
  grid-area: Maple;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Log-in {
  grid-area: Log-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
Middle styling
*/

.content-container {
  display: grid;
  grid-template-columns: 25% 35% 40%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sidebar-container list-container graph-container";
  grid-area: content-container;
  background-color: #ffffff;
}

/*
Sidebar styling
*/

.sidebar-container {
  grid-area: sidebar-container;
  background-color: #f2f2f2;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas: "side-search-bar";
}

.side-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: side-search-bar;
}

.list-container {
  grid-area: list-container;
  background-color: #ffffff;
  border-left: #ededed solid 1px;
}

.graph-container {
  grid-area: graph-container;
  background-color: #ffffff;
  border-left: #ededed solid 1px;
}
