.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "topbar-container"
    "content-container";
}

.topbar-container {
  grid-area: topbar-container;
  display: grid;
  background-color: #dee0e0;
  grid-template-columns: 5% 25% 5% 10% 10% 10% 10% 20%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "top-logo top-search-bar Blank Save Share . top-log-in";
}

.top-logo {
  grid-area: top-logo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: top-search-bar;
}
.Blank {
  grid-area: Blank;
}
.Save {
  grid-area: Save;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Share {
  grid-area: Share;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-log-in {
  grid-area: top-log-in;
}
.content-container {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sidebar-container list-container graph-container";
  grid-area: content-container;
  background-color: #ffffff;
}

.sidebar-container {
  grid-area: sidebar-container;
  background-color: #f2f2f2;
}

.list-container {
  grid-area: list-container;
  background-color: #ffffff;
  border-left: #ededed solid 1px;
}

.graph-container {
  grid-area: graph-container;
  background-color: #ffffff;
  border-left: #ededed solid 1px;
}
